@using Microsoft.AspNetCore.Html;
@using Queuesim;
@inherits RazorSliceHttpResult<Queuesim.SimResults?>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Queuesim</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        async function drawChart(results) {
            const ctx = document.getElementById('myChart');
            const queueDepths = results.queueDepths;
            const running = results.running;
            const labels = queueDepths.map((x, i) => i);
            const data = {
                labels: labels,
                datasets: [{
                    label: 'Queue Depth',
                    data: queueDepths,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                },
                {
                    label: 'Running',
                    data: running,
                    fill: false,
                    borderColor: 'rgb(192, 75, 75)',
                },
                {
                    label: 'Current Workers',
                    data: results.currentWorkers,
                    fill: false,
                    borderColor: 'rgb(75, 75, 192)',
                }]
            };

            new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        x: {
                            text: 'Timestamp (min)'
                        },
                        y: {
                            text: 'Items in Queue'
                        }
                    }
                }
            });
        }

        function setScaleOptions(show)
        {
            var scaleOptions = document.getElementsByClassName("scaleOption");
            for (const scaleOption of scaleOptions)
            {
                scaleOption.style.display = show ? "block" : "none";
            }
        }
    </script>
    <style>
        .formEntry {
            display: block;
        }
        .scaleOption {
            display: @(Model == null || Model.OriginalConfig.WorkerPoolScaling == Sim.WorkerPoolScaling.Fixed ? "none" : "block");
        }
    </style>
</head>

<body>
    <div style="margin:auto;max-width:800px;">
        <h1>QueueSim</h1>
        <form style="display:block;" action="/run" method="post">
            <span class="formEntry">
                <label>Worker Pool Scaling</label>
                <select name="workerPoolScaling" onchange="setScaleOptions(this.value != 0)">
                    <option value="0" @(Model == null || Model.OriginalConfig.WorkerPoolScaling == Sim.WorkerPoolScaling.Fixed ? "selected" : "")>Fixed</option>
                    <option value="1" @(Model?.OriginalConfig.WorkerPoolScaling == Sim.WorkerPoolScaling.Simple ? "selected" : "")>Basic</option>
                </select>
            </span>
            <span class="formEntry">
                <label>Min Workers</label>
                <input name="minWorkers" type="number" value="@(Model == null ? 1 : @Model.OriginalConfig.MinWorkers)" />
            </span>
            <span class="scaleOption">
                <label>Max Workers</label>
                <input name="maxWorkers" type="number" value="@(Model == null ? 1 : @Model.OriginalConfig.MaxWorkers)" />
            </span>
            <span class="scaleOption">
                <label>Scale Up Time</label>
                <input name="scaleUpTime" type="number" value="@(Model == null ? 1 : @Model.OriginalConfig.ScaleUpTime)" />
            </span>
            <span class="scaleOption">
                <label>Scale Down Delay</label>
                <input name="scaleDownDelay" type="number" value="@(Model == null ? 1 : @Model.OriginalConfig.ScaleDownDelay)" />
            </span>
            <span class="formEntry">
                <label>Jobs to submit</label>
@if (Model == null)
{
                <textarea style="display:block;width:50em;height:5em;" name="jobData">
[
    {&quot;startTime&quot;: 0, &quot;manualJobs&quot;: [5, 5, 5] },
    {&quot;startTime&quot;: 3, &quot;manualJobs&quot;: [3, 2, 1] },
]
                </textarea>
}
else
{
                <textarea style="display:block;width:50em;height:5em;" name="jobData">
@Model.JobData
                </textarea>
}
            </span>
            <button style="float:left;">Run sim</button>
        </form>
        <canvas id="myChart"></canvas>
        @if (Model != null)
        {
            <script>
                drawChart(@Model.ChartData);
            </script>
            <table>
                <tr>
                    <th>Time (min)</th>
                    <th>Waiting Jobs</th>
                    <th>Finished Jobs</th>
                    <th>Running Jobs</th>
                    <th>Current Workers</th>
                </tr>
                @for (int i = 0; i < Model.Result.QueueDepths.Count; i += 5)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Model.Result.QueueDepths[i]</td>
                        <td>@Model.Result.Finished[i]</td>
                        <td>@Model.Result.Running[i]</td>
                        <td>@Model.Result.CurrentWorkers[i]</td>
                    </tr>
                }
            </table>
        }
    </div>
</body>

</html>